{
  "name": "linebot_BL",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "start": "node ."
  },
  "author": "",
  "license": "ISC",
  "linebot_config": {
   "channelId":"1546904938",
   "channelSecret":"212bc3da3415934442c14bd883889010",
   "channelAccessToken":"GG8tUB80HXC+xAtikiY85vD+WAnH2Fk/y7RQF9zStwM56NBOJ1Kr7yP3jWvn66d2vQ9n0GIi6H/7gd9nHjAByij5fg0guB151tmWBKzvD4eNxWhNocakW3vXM9c62JJ0Dm57/SO5vf3VYpGGTPnxGwdB04t89/1O/w1cDnyilFU="
  },
  "imgur_config":
  {
    "host_name":"api.imgur.com",
    "path":"/3/account/me/images/",
    "headers":{ "Authorization": "Bearer 579e1687e431da1eabc35bf32c7634e2a49283bf" },
    "method":"GET"
  }
}